In July 2015, Mike Butcher <a href="http://mbites.com/2015/07/01/the-press-release-is-dead/">described a template</a> for how he wanted to be pitched by startups.</br></br>
  
This is that pitch template.</br></br>

Simply fill in the below form and you'll have a ready to go email to send to Mike.</br></br>

<h4>Guidance Notes:</h4>
<ul>
  <li>No PDFs!</li>
  <li>Not all fields are required</li>
  <li>If you can tell Mike why your company rocks in one sentence then great</li>
  <li>Sure, 3 is also fine for Mike</li>
  <li>DID MIKE SAY NO PDFs? NO PDFs!!</li>
</ul>

&nbsp;

<h1>Draft a new pitch:</h1></br>

<%= render 'form' %>

<!-- <%= link_to 'Back', pitches_path %> -->
